@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

.gradient-morning {
    background: linear-gradient(to bottom,
        #F5F6F2,
        #D1CECA
    )
}